*.log*
.cache
.DS_Store
.idea
.vscode
packages/**/lib
lib/
lib/*
!lib/index.js
!lib/style.css
node_modules
example/
/docs/dist
test/unit/coverage
packages/feui-css/build
packages/feui-css/icons
packages/feui-css/node_modules
docs/
