*{
  padding: 0;
  margin: 0;
}
#app{
  height: 100%;
  position: relative;
}
body {
  background-color: #F2F3F4;
}
.weui-cells{margin-top:10px};
.page{
  height: 100%;
}
.page{
  margin: 0 auto;
  max-width: 500px;
}
.fe-content{
  padding-top:50px; 
}