html{
  height: 100%;
}
body {
  background-color: #f2f3f4;
  height: 100%;
  width: 100%;
}
.page{
  height: 100%;
  overflow-x: scroll;
}
#app{
  height: 100%;;
}
::-webkit-scrollbar {
  width: 5px;
  background: #f2f3f4; /* 整个滚条背景 */
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: rgb(59, 43, 43); /* 滚条内嵌颜色 */
}
